<div class="container bg_white">
	
	<ul class="nav nav-tabs">
	  <li><%= link_to "显示中的帖子", posts_self_path %> </li>
	  <li class="active"> <%= link_to "已删除的帖子", posts_self_deleted_path %> </li>
	</ul>
  
  
	<% if @posts.blank? %>
	<div>
	</div>
	<% else %>
  
  <table class="posts table table-hover">
	<% @posts.each do | post | %>
  <tr>
		<td><%= link_to post.title, post_path(post)%></td>
  </tr>
	  <% end %>
  </table>
	<% end %>
</div>