<div class="container">
	<div class="row">
		<%= @post.title %>
	</div>
	
	<div class="row">
		<%= @post.content %>
	</div>

	<div class="row">
		<%= @post.contact %>
	</div>

	<div class="row">
		<%= @post.price %>
	</div>
</div>