<div class="trade_detail container">
	<div class="title_area col-md-8">
		<div class="title col-md-10">
		<h1><%= @post.title %></h1>
		</div>
		<div class="price col-md-2 pull-right">
			<h1><%= @post.price %></h1>
		</div>
	</div>

	<div class="content_area col-md-8">
			<%= @post.content.html_safe %>
	</div>

	<div class="contact_area col-md-8">
		<div class="contact">
			联系方式： <%= @post.contact %>
		</div>
	</div>


</div>
