// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_box {
	background: white;
  height: 150px;
  width: 270px;
  border-radius: 5px;
  float: right;
  
  .name {
    font-size: 17px;
    text-align: center;
    color: #778087;
  }
  
  .posts_count {
    margin-top: 15px;
    font-size: 25px;
    text-align: center;
    a {
      color: grey;
    }
    a:hover {
			text-decoration: none;
    }
  }
  .text {
    text-align: center;
    color: grey;
  }

  
  .cell {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    
    .new_post {
      margin-left: 20px;
      width: 40%;
      display: inline-block;
			border-right: solid 2px grey;
      a {
        color: red;
      }
    }
    
    .manage_posts {
      display: inline-block;
      margin-right: 20px;
      width: 40%;
    }
  }
}
