.tradeArea {
	background: white;
	border-radius: 4px;
	padding-bottom: 20px;
  margin-right: 290px;
  margin-bottom: 20px;
  min-height: 600px;

	.category {
		padding: 10px;
		border-bottom: solid 1px #e2e2e2;

		a {
			color: black;
			padding: 5px;
			margin-right: 40px;
			border-radius: 5px;
		}
		a:hover {
			text-decoration: none;
			background: #e2e2e2;
		}

		a.active {
			color: white;
			background: black;
		}
	}

	.tradeList {
		.tradeItem {
			padding: 10px 0px 10px 10px;
			border-bottom: solid 1px #e2e2e2;

      .avatar {
        float: left;
        margin-right: 10px;
      }

			.title > a{
				word-wrap:break-word;
				font-size: 16px;
				color: #778087 !important;
			}
			.price {
        float: right;
				background: #778087;
				color: white;
				font-size: 16px;
				padding: 0px 10px 0px 10px;
				border-radius: 15px;
				margin: 0 auto;
			  vertical-align: middle;
        margin-right: 20px;
        margin-top: 10px;
			}

      .extra_info {
        margin-top: 5px;
        
        .author {
          display: inline-block;
          margin-right: 10px;
        }

  			.school {
          display: inline-block;
  				background: #e2e2e2;
          border-radius: 5px;
          margin-right: 10px;
          a {
            font-size: 14px;
    				color: #778087 !important;
          }
  			}
        .time {
          display: inline-block;
          color: #ccc;
        }
      }
		}
	}
}



.trade_detail {
	.title_area {
		background: white;
		border-radius: 4px;
		padding-bottom: 10px;
		margin-bottom: 20px;

    .title {
			word-wrap:break-word;
    }
		.price {
			color: red;
		}
    .other_info {
      font-size: 12px;
      color:#d0d0d0;
    }
	}

	.content_area {
		background: white;
		margin-bottom: 20px;
	}

	.contact_area {
		padding: 10px;
		border-radius: 4px;


		font-size: 20px;
		background: white;
	}
}

#editor {
  margin-top: 10px;
  height: 500px;
  overflow:scroll;
  max-height:500px;
  background: white;
  
}

form {
  .title {
    margin-bottom: 20px;
  }
}

.bg_white {
	background: white;
}

table.posts {
  margin-top: 0px;
  tr:first-child>th {
    border: none;
  }
  
  td {
    word-wrap: break-word;
    max-width: 100px;
  }
}

.nav.nav-tabs {
  margin-top: 20px;
}